/* VARIABLES */

/* extra small devices (phones) */
:root {
  --header-top-margin: 5rem;
  --spacer: 2.5rem;
  --spacer-lg: 4rem;
  --spacer-sm: 1.5rem;
  --spacer-xs: .75rem;
  --wrapper-width: 100%;
  --text-size: .9rem;
  --text-size-sm: .8rem;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  :root {
    --wrapper-width: 33rem;
    --text-size: .95rem;
    --text-size-sm: .85rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  :root {
    --wrapper-width: 40rem;
    --text-size: 1rem;
    --text-size-sm: .9rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  :root {
    --wrapper-width: 60rem;
    --text-size: 1.1rem;
    --text-size-sm: .95rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  :root {
    --wrapper-width: 80rem;
    --text-size: 1.2rem;
    --text-size-sm: 1rem;
  }
}

/* LAYOUT */

/* https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing */
* { box-sizing: border-box; }

html {
  /* This forces a scrollbar on index.html, so the scrollbar is present before all the content fades in,
   * and the scrollbar won't appear during fade-in and cause the page width the shrink slightly when
   * the scrollbar is added. Also makes the scrollbar remain in place when the sidebar nav is popped out.*/
  overflow-y: scroll;
}


body {
  margin: 0;
  background-color: rgba(255, 255, 255, 1);
  font-size: var(--text-size);
  font-family: 'Cutive Mono', monospace;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  padding: 0 var(--spacer-sm);
  width: 100%;
  max-width: var(--wrapper-width);
}

#content {
  margin-top: var(--spacer-lg);
  padding-top: var(--spacer-sm);
  padding-bottom: var(--spacer);
  font-weight: 300;
}

#content > :first-child {
  margin-top: var(--spacer-sm);
}

/* NAV */

#top-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1; /* This puts the nav above MathJax items */
  background-color: rgb(255, 255, 255);
}
#top-nav ul {
  display: inline-flex;
  margin: 0;
  padding: 0;
  height: 3.5rem;
  width: 100%;
  vertical-align: middle;
  align-items: center;
  font-weight: 500;
  font-size: 2em;
  line-height: .9rem;
  text-decoration: none;
  /* THIS CHANGES THE COLOR OF THE TITLE ONLY, GO TO .drawer-hamburger-icon TO CHANGE THE COLOR OF THAT ICON */
  color: #4C5760;
  list-style-type: none;
}
#top-nav a,
#top-nav a:visited {
  text-decoration: none;
  padding: var(--spacer-xs);
  color: #000000;
  transition: .3s;
  letter-spacing: 0.3rem;
  font-size: 1rem;
}
#top-nav a:hover {
  color: rgba(0, 0, 0, 0.5);
}
#top-nav a.active {
  border-image:
    linear-gradient(to right, white 10%, #eee 30%, #eee 70%, white 90%)
    0 0 1 /                    /* slice */
    0 0 1px 0 /    /* width */
    0 /* outset */
    round;                  /* repeat */
}

header nav a {
  text-transform: uppercase;
}

#top-nav #resume {
  margin-left: .5rem;
}

@media (max-width: 767px) {
  #top-nav ul {
    justify-content: right;
  }
  .hide-mobile {
    display: none;
  }
}

/* ELEMENTS */

p {
  line-height: 1.5;
}

strong {
  font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: var(--header-top-margin);
  margin-bottom: var(--spacer-sm);
  font-weight: bold;
  line-height: 1.5;
}

/*h1 { font-size: ; }*/
h2 { font-size: 1.5rem; }
/*h3 { font-size: ; }*/
/*h4 { font-size: ; }*/
/*h5 { font-size: ; }*/
/*h6 { font-size: ; }*/

a,
a:visited {
  text-decoration: none;
  font-weight: 300;
  color: rgba(48, 3, 255);
  transition: .5s;
}
a:hover {
  color: rgba(48, 3, 255, 0.4);
}

a.external,
a.external:visited {
  text-decoration: none;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.7);
  transition: .5s;
}
a.external:hover {
  color: rgba(0, 0, 0, 0.5);
}

a.button {
  display: inline-block;
  padding: .5rem;
  border-radius: .25rem;
  border: 1.2px solid #3003FF;
}
a.button,
a.button:visited {
  text-decoration: none;
  color: #3003FF !important;
  transition: .3s;
}
a.button:hover {
  background-color: rgba(48, 3, 255, 0.05);
}

hr {
  background-color: #f5f5f5;
  border: none;
  display: block;
  height: 2px;
  margin: 1.5rem 0;
}

footer {
  margin-top: var(--spacer);
  padding-top: var(--spacer);
  border-top: 2px solid #eeeeee;
  font-size: var(--text-size-sm);
}

/* HELPERS */

/* This might be a photo, but I was having some trouble with it. */
/* You may want to copy what I did for the Whirlpool Galaxy to center something */
.center {
  margin-bottom: var(--spacer);
  margin-top: var(--spacer);
  max-width: 50rem;
  width: 100%;
  margin: 0 auto;
  display: table;
}

.center_fig {
  margin-bottom: var(--spacer);
  margin-top: var(--spacer);
  width: 100%;
  max-width: 33rem;
  margin: 0 auto;
  display: table;
}

/* DRAWER */

/* To change color of the background color of the nav drawer, change background */
/* color of .drawer-menu-item AND .drawer-nav */
.drawer-menu-item {
  background-color: rgb(255, 255, 255);
  font-weight: 300;
  font-size: 1.5em;
  color: #3003FF;
  transition: .5s;
}

/*This changes the color when a mouse hovers over a drawer-menu-item */
.drawer-menu-item:hover {
  background-color: rgb(223, 222, 255);
  text-decoration: none;
  color: #3003FF;
}

.drawer-nav {
  background-color: rgba(255, 255, 255, 1)
}

/* Chance the background color to chance NAV BAR ICON color */

.drawer-hamburger-icon,
.drawer-hamburger-icon:after,
.drawer-hamburger-icon:before {
  margin-left: 6px;
  background-color: #000000 !important;
}

.drawer-toggle.drawer-hamburger {
}

.drawer-hamburger-icon:hover {
  background-color: #000000 !important;
}

/* Do not change the color from transparent */
.drawer-open .drawer-hamburger-icon {
  background-color: transparent !important;
}

@media (min-width: 768px) {
  .drawer-menu-item {
    display: none;
  }
  .drawer-open .drawer-hamburger-icon {
    display: none;
  }
  .drawer-nav {
    display: none;
  }
  .drawer-toggle {
    display: none
  }
}
